# edit and save as .env

DOMAINNAME=docker.localhost
VOLUMES_DIR=./docker/volumes

POSTGRES_USER=listmonk
POSTGRES_PASSWORD=secret
POSTGRES_DB=listmonk

LISTMONK_db__user=${POSTGRES_USER}
LISTMONK_db__password=${POSTGRES_PASSWORD}
LISTMONK_db__database=${POSTGRES_DB}
